{% extends "base.html" %}
{% block title %}查看冰箱{% endblock %}
{% block navbar %}
    {% set page_index = 2 %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
		<h5>My Fridge</h5>
		<table class="table table-striped">
			<tbody>
				{% for material in fridges %}
				<tr class="d-flex">
                    {% if material != ''%}
                        <td class="col-1">{{ material }}</td>
                        <td class="col-1"><a href="{{ url_for('fridges_delete', name=material) }}">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </a></td>
                    {% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
        <form name="Message" action="{{ url_for('fridges_insert') }}" method="POST">
            插入冰箱: <input type="text" name="content">
            <input type="submit" value="插入">
        </form>
{% endblock %}
