{% extends "base.html" %}
{% block title %}{% if language=='CHN' %}查看我的菜谱{% elif language=='ENG' %}My Recipes{% endif %}{% endblock %}
{% block navbar %}
    {% set page_index = 2 %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
<br>
		<h5>{% if language=='CHN' %}我的菜谱{% elif language=='ENG' %}My Recipes{% endif %}</h5>
        <a href="{{url_for('my_recipes_clear')}}">{% if language=='CHN' %}清空我的菜谱{% elif language=='ENG' %}Clear my recipes{% endif %}</a>
		<table class="table table-striped">
			<tbody>
				{% for recipe in recipes %}
				<tr class="d-flex">
					<td class="col-2">{{ recipe[1] }}</td>
					<td class="col-8">{{ recipe[2] }}</td>
					<td class="col-1"><a href="{{ url_for('my_recipes_delete', id=recipe[0]) }}">
						<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
        <br><br>
        {% if language=='CHN' %}
        <form name="Message" action="{{ url_for('my_recipes_insert') }}" method="POST">
            插入菜谱: <input type="text" name="content"> <input type="submit" value="提交">
        </form>
        {% elif language=='ENG' %}
        <form name="Message" action="{{ url_for('my_recipes_insert') }}" method="POST">
            Insert a recipe: <input type="text" name="content"> <input type="submit" value="Submit">
        </form> 
        {% endif %}
        <br>
        <br>
{% endblock %}
{% block helper %}
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#helper" role="button" aria-expanded="false" aria-controls="helper">{% if language=='CHN' %}查看菜谱输入格式{% elif language=='ENG' %}How to insert an entry?{% endif %}</a>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="helper">
      <div class="card card-body">
        {% if language=='CHN' %}
        输入格式：在输入框中输入 “菜名 材料1 材料2 材料3...”<br>
        例如：<br>
        1. “西红柿炒鸡蛋  西红柿 鸡蛋” <br>
        2. “黄瓜炒鸡蛋 黄瓜 鸡蛋” <br>
        3. “煎鸡蛋 鸡蛋” <br>
        <br>
        <p  style="color:red"><strong> 注意:</strong></p>
        在此处插入的菜谱<font color="red"><strong>会</strong></font> 添加到“我的菜谱”中。
        {% elif language=='ENG' %}
            Format:<br>
            Spaces between dish name and all materials.<br>
            If there are spaces in one dish name or one material, please replace all spaces with '_'.<br>
            All lower case letters.<br>
            <br>
            Examples:<br>
            1. "fish_and_chips fish_fillet potato lemon"<br>
            2. "caprese_pork_chops vinegar honey mustard garlic pepper pork basil tomato"<br>
            <br>
            <p  style="color:red"><strong>Attention:</strong></p>
            Recipes inserted here <strong><span style="color:red">WILL</span></strong> be added to 'My Recipes'.
        {% endif %}
      </div>
    </div>
  </div>
</div> 
{% endblock %}
