<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">吃点啥</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if page_index==1 %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('receipes') }}">我的菜谱{% if page_index==1 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page_index==2 %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('fridges') }}">我的冰箱{% if page_index==2 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page_index==3 %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('result') }}">查看结果{% if page_index==3 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
  </div>
</nav>
