<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ url_for('index') }}">吃点啥</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if page_index==1 %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('receipes') }}">所有菜谱{% if page_index==1 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page_index==2 %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('my_receipes') }}">我的菜谱{% if page_index==2 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page_index==3 %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('fridges') }}">我的冰箱{% if page_index==3 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page_index==4 %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('result') }}">查看结果{% if page_index==4 %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
  </div>
  <span class="navbar-text">
      <a href="{{ url_for('profile') }}">欢迎回来, {{ user_name }}!</a>
  </span>
  {% if user_id==9988 %}
      <a type="button" class="btn btn-outline-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/loginname">登录/注册</a>
  {% else %}
      <a type="button" class="btn btn-outline-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/logout">退出</a>
  {% endif %}
</nav>
