{% extends "base.html" %}
{% block title %}{% if language=='CHN' %}用户记录{% elif language=='ENG' %}Profile{% endif %}{% endblock %}
{% block navbar %}
    {% if user_id==0 %}
        {% include "admin_navbar.html" %}
    {% else %}
        {% include "navbar.html" %}
    {% endif %}
{% endblock %}
{% block content %}
    <h5>{% if language=='CHN' %}用户记录{% elif language=='ENG' %}Profile{% endif %}</h5>
    {% if language=='CHN' %}用户名:{% elif language=='ENG' %}User name:{% endif %}{{ user_profile[0] }} <br>
    {% if language=='CHN' %}电子邮箱:{% elif language=='ENG' %}Email:{% endif %}{{ user_profile[1] }} <br>
    {% if language=='CHN' %}菜谱数量:{% elif language=='ENG' %}Number of receipes:{% endif %}{{ user_profile[2] }} <br>
{% endblock %}
