{% extends "base.html" %}
{% block title %}查看菜谱{% endblock %}
{% block navbar %}
    {% set page_index = 1 %}
    {% if user_id==0 %}
        {% include "admin_navbar.html" %}
    {% else %}
        {% include "navbar.html" %}
    {% endif %}
{% endblock %}
{% block content %}
		<h5>Receipes</h5>

		<table class="table table-striped">
			<tbody>
				{% for receipe in receipes %}
				<tr class="d-flex">
                    {% if user_id==0 %}
					<td class="col-1">{{ receipe[0] }}</td>
                    {% endif %}
					<td class="col-2">{{ receipe[1] }}</td>
					<td class="col-8">{{ receipe[2] }}</td>
                    {% if user_id!=0 %}
					<td class="col-1"><a href="{{ url_for('my_receipes_copy', id=receipe[0]) }}">
                            COPY
					</a></td>
                    {% endif %}
                    {% if user_id==0 %}
					<td class="col-1"><a href="{{ url_for('receipes_delete', id=receipe[0]) }}">
						<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</a></td>
                    {% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
        <form name="Message" action="{{ url_for('receipes_insert') }}" method="POST">
            插入菜谱: <input type="text" name="content"> <input type="submit" value="提交">
        </form>
{% endblock %}
