{% extends "base.html" %}
{% block title %}{% if language=='CHN' %}注册{% elif language=='ENG' %}Sign up{% endif %}{% endblock %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
		<h5>{% if language=='CHN' %}新用户注册{% elif language=='ENG' %}Sign up{% endif %}</h5>
        <br>
        <form name="register" action="{{ url_for('register') }}" method="POST">
            {% if status==-1 %}
            <div class="alert alert-danger col-md-3" role="alert">
                 {% if language=='CHN' %} 用户已存在{% elif language=='ENG' %}Existed user!{% endif %}
            </div>
            {% endif %}

		  <div class="form-group col-md-3">
              <label for="login_name">{% if language=='CHN' %}用户名{% elif language=='ENG' %}User name{% endif %}</label>
            {% if language=='CHN' %}
			<input type="text" class="form-control" name="user_name" placeholder="用户名只包括a-z,A-Z,0-9">
            {% elif language=='ENG' %}
			<input type="text" class="form-control" name="user_name" placeholder="Only include a-z,A-Z,0-9">
            {% endif %}
            {% if status==-4 %}
            <div class="alert alert-danger" role="alert">
                  {% if language=='CHN' %}用户名只包含 a-z,A-Z,0-9{% elif language=='ENG' %}User name should only include a-z, A-Z, 0-9{% endif %}
            </div>
            {% endif %}
            {% if status==-2 %}
            <div class="alert alert-danger" role="alert">
                 {% if language=='CHN' %} 用户名已被使用{% elif language=='ENG' %}This user name has already been used!{% endif %}
            </div>
            {% endif %}
		  </div>
		  <div class="form-group col-md-3">
              <label for="login_email">{% if language=='CHN' %}电子邮箱地址{% elif language=='ENG' %}Email{% endif %}</label>
            {% if language=='CHN' %}
			<input type="text" class="form-control" name="user_email" placeholder="请输入电子邮箱地址">
            {% elif language=='ENG' %}
			<input type="text" class="form-control" name="user_email" placeholder="Please enter email">
            {% endif %}
            {% if status==-3 %}
            <div class="alert alert-danger" role="alert">
                  {% if language=='CHN' %}电子邮箱地址已被使用{% elif language=='ENG' %}This email has already been used!{% endif %}
            </div>
            {% endif %}
            {% if status==-5 %}
            <div class="alert alert-danger" role="alert">
                  {% if language=='CHN' %}非法的电子邮箱地址{% elif language=='ENG' %}Illegal email address!{% endif %}
            </div>
            {% endif %}
		  </div>
		  <div class="form-group col-md-3">
			<label for="password">{% if language=='CHN' %}密码{% elif language=='ENG' %}Password{% endif %}</label>
            {% if language=='CHN' %}
			<input type="password" class="form-control" name="password" placeholder="请输入密码">
            {% elif language=='ENG' %}
			<input type="password" class="form-control" name="password" placeholder="Please enter password">
            {% endif %}
		  </div>
		  <div class="form-group col-md-3">
			<label for="password1">{% if language=='CHN' %}重新输入密码{% elif language=='ENG' %}Confirm password{% endif %}</label>
            {% if language=='CHN' %}
			<input type="password" class="form-control" name="password1" placeholder="请输入密码">
            {% elif language=='ENG' %}
			<input type="password" class="form-control" name="password1" placeholder="Please enter password">
            {% endif %}
            {% if status==-6 %}
            <div class="alert alert-danger" role="alert">
                  {% if language=='CHN' %} 输入密码不匹配{% elif language=='ENG' %}Passwords don't match.{% endif %}
            </div>
            {% endif %}
		  </div>
          <br>
          <button type="submit" class="btn btn-primary">{% if language=='CHN' %}注册{% elif language=='ENG' %}Register{% endif %}</button>
		</form>
        <br>
<br>
<br>
<br>
{% endblock %}
